
#nav-bar {
	height:40px;
	background-color:rgb(13, 13, 13);
}
ul {
	display:inline;
	margin:0;
	padding:0;
}
ul li {
	display:inline-block;
	position:relative;
	list-style-type:none;
	float:right;
	width:150px;
	height:40px;
	text-align:center;
	line-height:40px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:17px;
	cursor:pointer;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
ul li a {
	text-decoration:none;
	color:#fff;
	
}
ul li:hover {
	display:block;
	background-color:rgb(180, 180, 180);
}
ul li:hover ul {
	display:block;
	visibility:visible;
}
ul li ul li {
	background-color:rgb(180, 180, 180);
}
ul li ul {
	position:absolute;
	top:40px;
	display:none;
}
ul li ul li:hover {
	background-color:rgb(200, 200, 200);
	
}